head
  title Origin Explorers | Title Screen
  link(rel="stylesheet" href="node_modules/normalize.css/normalize.css")
  link(rel="stylesheet" href="assets/styles/main.styl")
body
  #background
    video(src='assets/video/Pexels Videos 2055060.mp4' autoplay loop)
  header
    h1
      img(src='assets/img/favicon.png')
      strong rigin
      span Explorers
    p Exploring our human origins
