*
  box-sizing border-box

body
  color #fff

#background
  overflow hidden

video
  height 100%

header
  position fixed
  top 100px
  left 0
  width 100%
  background rgba(0,0,0,0.35)
  padding 80px
  text-shadow 1px 1px 3px rgba(0,0,0,0.35)
  border-top 4px #fff solid
  border-bottom 4px #fff solid
  box-shadow 1px 1px 3px rgba(0,0,0,0.35)
  text-align center

  img
    display inline-block
    vertical-align middle
    height 96px
    position relative
    top -10px

  h1
    font-size 96px
    margin 0

    strong
      text-transform uppercase
    span
      margin-left 20px

  p
    font-size 48px
    letter-spacing 8px
    margin 0
